/*
* @Author: ASUS
* @Date:   2017-10-10 14:35:28
* @Last Modified by:   ASUS
* @Last Modified time: 2017-10-10 18:01:47
*/
.noMore{
    text-align: center;
    color: #999;
    padding-bottom: 3.5rem;
}