/*
* @Author: ASUS
* @Date:   2017-10-09 11:03:16
* @Last Modified by:   ASUS
* @Last Modified time: 2017-10-19 17:50:48
*/
.searchInputBox {
    display: block;
    width: 70%;
    box-sizing: border-box;
    border: 1px solid #dfdbdb;
    border-radius: 1rem;
    height: 2rem;
    line-height: 2rem;
    background: #fff;
    position: relative;
    top: 0.25rem;
    overflow: hidden;
    margin:0 auto;
}
.searchInputBox::after {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    position: absolute;
    top: 0.45rem;
    background: url(../../static/img/search-icon.png) center no-repeat;
    background-size: cover;
    left: 0.5rem;
}
.searchInputBox>input {
    display: inline-block;
    font-size: 1rem;
    height: 100%;
    border: none;
    outline: none;
    position: relative;
    color: #999;
    float: left;
    margin-left: 2rem;
    top: 1px;
}