/*
* @Author: ASUS
* @Date:   2017-10-09 11:15:21
* @Last Modified by:   ASUS
* @Last Modified time: 2017-10-19 18:06:29
*/
.HeaderDemo{
	position: fixed;
    height: 2.5rem;
    width: 100%;
    top: 0;
    background-color:#69bf50;
    box-sizing: border-box;
    overflow: hidden;
    line-height: 2.5rem;
    z-index: 10;
    text-align: center;
    color: #fff;
    font-size: 1.1rem;
}
.HeaderDemo>span.BackArrow{
    position: absolute;
    left: 1rem;
    width: 1rem;
    height: 1rem;
    top: 0.6rem;
}
.HeaderDemo>span.BackArrow:before{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border: 2px solid #fff;
    transform: rotate(45deg);
    transform-origin: right;
    border-right: none;
    border-top: none;
}
.HeaderDemo>span.rightSpan{
    position: absolute;
    right: 1rem;
    font-size: 1rem;
}