/*
* @Author: ASUS
* @Date:   2017-09-25 17:49:13
* @Last Modified by:   ASUS
* @Last Modified time: 2017-10-10 14:36:19
*/
.homeHeader {
    position: fixed;
    height: 2.5rem;
    width: 100%;
    top: 0;
    background-color: rgba(240, 243, 237, 0.75);
    box-sizing: border-box;
    overflow: hidden;
    line-height: 2.5rem;
    padding-left: 1rem;
    z-index: 10;
}
.homeHeader a{
    text-decoration: none;
    color: #69bf50;
    font-size: 1.2rem;
    position: absolute;
    display: inline-block;
    max-width: 4rem;
    box-sizing: border-box;
    padding-right: 1rem;
}
.homeHeader a::after {
    content: "";
    display: inline-block;
    width: 0.75rem;
    height: 1rem;
    background: url(../../../static/img/down-arrow.png) center no-repeat;
    position: absolute;
    right: 0px;
    top: 0.8rem;
    background-size: contain;
}
.homeHeader .searchInputBox{
    box-shadow: 1px 1px 10px #dfdbdb;
    position: absolute;
    right: 1rem;

}



.homeAdBox>div {
    float: left;
    width: 50%;
    overflow: hidden;
    box-sizing: border-box;
}
.homeAdBox>div a {
    display: inline-block;
    height: 100%;
    width: 100%;
}
.homeAdBox>div img {
    display: block;
    margin: 0.25rem auto;
    width: 90%;
}



.homeListTitle {
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
}
.homeListTitle a {
    color: #555;
    text-decoration: none;
}
.homeListTitle span::after {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    position: relative;
    top: -1px;
    background: url(../../../static/img/index-right-arrow.png) no-repeat center;
    background-size: contain;
    margin-left: 0.25rem;
}

.jgBoxItem {
    display: inline-block;
    width: 25%;
    height: 7rem;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
    padding: 0.3rem 0.75rem;
    text-align: center;
}
.jgBoxItem img {
    width: 100%;
    border-radius: 0.25rem;
    height: 5rem;

}
.jgBoxItem a{
    color: #555;
    text-decoration: none;
    font-size: 0.85rem;
}
.jgBoxItem span{
    width: 100%;
    display: block;
}

